<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <test name="First">
        <classes>
            <class name="ru.Bykova.JAVA_lessons.mantis.tests.LoginTests"/>
            <class name="ru.Bykova.JAVA_lessons.mantis.tests.RegistrationTests"/>
            <class name="ru.Bykova.JAVA_lessons.mantis.tests.changePasswordTest"/>
            <class name="ru.Bykova.JAVA_lessons.mantis.tests.DbConnectionTest"/>
            <class name="ru.Bykova.JAVA_lessons.mantis.tests.HbConnectionTest"/>
            <class name="ru.Bykova.JAVA_lessons.mantis.tests.SoapTests"/>
        </classes>
    </test>
</suite>
